:root {
	--basic-white: #FFFFFF;
	--basic-blue: #81B3D2;
	--basic-middle-blue:#669EC0;
	--basic-hard-blue:#5496BD;
	--basic-brown: #766357;
	--basic-light-brown: #EEEEEE;
	--basic-medium-brown:#604E43;
	--basic-hard-brown:#503E33;
	--basic-light-dark:#666666;
	--basic-dark: #000000;
	--basic-extra-dark:#333333;
	--basic-grey: #ABABAB;
	--basic-light-grey: #CACACA;
	--basic-extra-grey: #E5E5E5;
	--basic-extra-light-grey: #F2F2F2;
	--basic-grey-medium:#EBEBEB;
	--basic-asfalt:#A9A9A9;
	--basic-hard-grey: #888888;
}

.page_body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-seirf;
	font-size: 14px;
	line-height: 21px;
	font-style: normal;
	font-weight: normal;
	color: var(--basic-extra-grey);
	text-transform: uppercase;	
	background: var(--basic-hard-grey);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.page {
	height: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*---------------------------------header---------------------------------*/


a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.main_navigation {
	position: relative;
	line-height: 26px;
	background-color: var(--basic-white);
}

.main_header_logo {
	position: absolute;	
	left: 50%;
    transform: translate(-50%, 0);
}

.site_navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.site_navigation li {
	width: 240px;
	text-align: center;
	font-weight: bold;
	color: var(--basic-dark);
	padding: 15px 15px;
}

.site_navigation a {
	color: var(--basic-dark);
}

.site_navigation a:hover {
	color: var(--basic-blue);
}

.site_navigation a:active {
	color: var(--basic-dark);
}

.site_navigation a:visited {
	color: var(--basic-brown);
}

/*---------------------------------main_container---------------------------------*/


.container_logo {
	text-align: center;
	background-image: url("../img/background_photo@2x.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.container_img {
	margin: 77px auto;
}

.reason p {
	margin: 16px auto 51px;
	color: var(--basic-dark);
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	text-align: center;
}

.reason h2 {
	width: 470px;
	min-height: 80px;
	color: var(--basic-dark);
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin: 42px auto 0;
	text-align: center;
}

/*---------------------------------advantages---------------------------------*/

.advantages_list, .footer_lists {
	list-style: none;
}

.advantages_list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding-left: 0;
}

.advantages_items_first {
	flex-wrap: wrap;
}

.housing, .food, .souvenirs {	
	box-sizing: border-box;
	width: 400px;
	height: 330px;
	text-align: center;
	padding-top: 160px;
}

.housing h3 {
	position: relative;
}

.housing h3::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 72px;
	background-image: url(../img/home.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	bottom: 50px;
	left: 162px;
}

.food h3 {
	position: relative;
}

.food h3::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 70px;
	background-image: url(../img/hamburger.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	bottom: 50px;
	left: 162px;
}

.souvenirs h3 {
	position: relative;
}

.souvenirs h3::before {
	content: "";
	position: absolute;
	width: 64px;
	height: 77px;
	background-image: url(../img/gift.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	bottom: 50px;
	left: 170px;
}

.advantages_items {
	display: flex;
}

.real_town, .devil {
	background-color: var(--basic-blue);
	text-align: center;
	color: var(--basic-white);
	font-weight: normal;
	width: 400px;
	height: 256px;
}

.advantages_items .real_town p, .advantages_items .devil p {
	color: var(--basic-white);
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 23px;
}

.real_town h2, .devil h2 {
	margin-bottom: 25px;
	margin-top: 47px;
}
	
.advantages_items h3, .advantages_items_grey h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	color: var(--basic-dark);
}

.advantages_items p, .advantages_items_grey p {
	color: var(--basic-dark);
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}

 .advantages_items_grey {
 	width: 400px;
 	height: 256px;
	background-color: var(--basic-light-brown);
}

.advantages_items_grey h3 {
	margin-top: 47px;
}

.back_space {
	margin: 0 auto;
}

.back_space p {
	margin-top: 25px;
}

.advantages_items_picture {
	width: 800px;
}

.picture {
	display: block;
}

/*---------------------------------hotel search---------------------------------*/
.interesting {
	text-align: center;
	margin-top: 0;
}
.interesting h2 {
	margin-top: 58px;
	margin-bottom: 4px;
}

.interesting p {
	width: 435px;
	min-height: 95px;
	margin: 0 auto;
	padding-top: 25px;
}

.hotel_search {
	line-height: 24px;
	color: var(--basic-extra-dark);
	position: relative;
}

.hotel_search h2 {
	font-size: 30px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	color: var(--basic-dark);
}

.button_hotel_search {
	width: 568px;
	height: 86px;
	background-color: var(--basic-brown);
	line-height: 26px;
	font-size: 21px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--basic-white);
}

.button_hotel_search:hover {
	background-color: var(--basic-medium-brown);
}

.button_hotel_search:active {
	background-color: var(--basic-hard-brown);
}

.date_form {
	width: 568px;
	height: 395px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-dark);
	background-color: var(--basic-white);
	padding: 55px;
	box-sizing: border-box;
	position: absolute;
	left: 316px;
	top: 235px;
}

.date_form div {
	width: 458px;
	box-sizing: border-box;
}

.date_arrival, .date_form_departure {
	display: flex;
}

.date_arrival label, .date_form_departure label, .date_form_departure label  {
	width: 112px;
	height: 26px;
	margin-right: 0;
	align-self: center;
}

.date_form_departure {
	margin-top: 29px;
}

.date_how_much {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 54px;
}

.date_how_much_adults, .date_how_much_child {
	display: flex;
}

.date_how_much_adults {
	width: 226px;
}

.date_how_much_child {
	width: 189px;
}

.how_much_adults {
	width: 112px;
	align-self: center;
}

.how_much_child {
	margin-left: 53px;
	width: 65px;
	align-self: center;
}

.button_gap {
	margin-right: 53px;
}

.arrival, .departure {
	width: 344px;
	height: 38px;
	margin-left: 0;
	position: relative;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	margin-left: 10px;
}

.button_departure {
	background-image: url("../img/calendar.svg");
	width: 21px;
	height: 23px;
	border: none;
	position: absolute;
	padding: 9px;
	right: 65px;
	top: 128px;
}

.button_arrival {
	background-image: url("../img/calendar.svg");
	width: 21px;
	height: 23px;
	border: none;
	position: absolute;
	padding: 9px;
	right: 65px;
	top: 62px;
}

.button_how_much, .how_much_people {
	width: 38px;
	height: 38px;
	padding: 0;
	margin-right: 0;
	text-align: center;
}

.arrival, .departure, .button_how_much, .how_much_people {
	background-color: var(--basic-extra-light-grey);
	border: none;
	text-transform: uppercase;
	font-weight: bold;
}

.arrival:hover, .departure:hover {
	background-color: var(--basic-grey-medium);
}

.arrival:focus, .departure:focus {
	background-color: var(--basic-white);
}

.button_find {
	width: 458px;
	height: 58px;
	background-color: var(--basic-blue);
	color:  var(--basic-white);
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
}

.button_find:hover {
	background-color:var(--basic-middle-blue);
}

.button_find:active {
	background-color: var(--basic-hard-blue);
}

/*
---------------------------------footer---------------------------------
*/
.main_footer {
	display: flex;
	min-height: 120px;
}

.footer_contact, .footer_social, .button_html_logo, .footer_copiright {
	width: 400px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_contact p {
	margin: 0;
	margin-bottom: 9px;
}

.footer_contact {
	flex-direction: column;
}

.footer_lists {
	display: flex;
	width: 150px;
	justify-content: space-between;
	text-align: center;
}

.main_footer a {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: var(--basic-dark);	
}

.footer_copiright p {
	line-height: 26px;
	font-size: 14px;
}

.social_button {
	display: block;
	width: 46px;
	height: 48px;
	background-color: var(--basic-blue);
	position: relative;
	text-align: center;	
}

.youtube_logo, .twitter_logo, .facebook_logo {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.social_button:hover { 
	background-color: var(--basic-middle-blue);
}

.social_button .twitter_logo:active {
	background-color: var(--basic-hard-blue); /*Пока оставляю так, в дальнейшем сделать белую часть иконки изменяющей цвет*/
}

.html_logo {
	background-image:url("../img/logo_htmlacademy.svg"); 
	width: 115px;
	height: 33px;
	margin-left: 5px;
}

.html_logo:hover {
	background-image:url("../img/logo_htmlacademy2.svg"); 
	width: 115px;
	height: 33px;
}

.html_logo:active {
	background-image:url("../img/logo_htmlacademy3.svg"); 
	width: 115px;
	height: 33px;
}

/*---------------------------------Catalog---------------------------------*/

.selection_of_conditions {
	background-image: url("../img/background_photo@2x.jpg");
	background-position: right 50% bottom 50%;
	background-repeat: no-repeat;
	color: var(--basic-white);
	display: flex;
	min-height: 217px;
}

.selection_of_conditions fieldset {
	border: none;
	padding: 0;
}

.infrastructure_list, .type_of_housing_list {
	padding: 0;
	margin: 0;
}

.description {
	display: block;
	position: relative;
	margin-left: 40px;
	font-size: 14px;
}

.list li {
	margin-top: 26px;
	margin-left: 72px;
}

.infrastructure {
	width: 300px;
}

.description_checkbox + label::before {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	border: 2px solid var(--basic-white);
	border-radius: 4px;
	left: -40px;

}

.description_checkbox:checked + label::after {
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	left: -33px;
	top: 2px;
	background-image: url("../img/selected.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	transform: scale(1.2);
}

.type_of_housing {
	width: 300px;
	margin: 0;
}

.caption {
	font-size: 16px;
	padding-top: 26px;
	margin-left: 72px;
	font-weight: bold;
}

.infrastructure_items, .type_of_housing_items {
	list-style: none;
}

.button_show {
	color: var(--basic-white);
	border: 2px solid var(--basic-white);
	width: 137px;
	height: 36px;
	background-color: transparent;
	text-transform: uppercase;
	border-radius: 2px;
	margin-top: 33px;
	left: 50px;
	display: block;
	margin: 33px auto
}

.button_show:hover {
	background-color: var(--basic-white);
	color: var(--basic-dark);
}

.filter_item {
	margin: 0;
	padding: 0;
	border: none;
	margin-top: 26px;
	margin-left: 210px;
}



.filter_item legend {
	margin-bottom: 10px;
}

.range-filter {
	width: 317px;
}

.scale {
	height: 2px;
	background: var(--basic-white);
	opacity: 0.3;
}

.range_controls {
	position: relative;
	padding-top: 20px;
}

.price_controls {
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	display: flex;
	justify-content: space-around;
}

.price_controls input {
	width: 50px;
	border: none;
	background-color: transparent;
	color: var(--basic-white);
	padding-top: 5px;
	padding-bottom: 5px;
}

.vertical_line {
	width: 2px;
	height: 17px;
	border-radius: 2px;
	background-color: var(--basic-white);
	align-self: center;
}

.bar {
	width: 70%;
	height: 2px;
	background-color: var(--basic-white);
	opacity: 1;		/*Не возвращает непрозрачность*/
}

.toggle {
	position: absolute;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--basic-white);
	background-color: var(--basic-grey);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--basic-grey);
	top: -9px;
}

.toggle_min {
	top: 10px;
}

.toggle_max {
	top: 10px;
	left: 248px;
}

.min_price {
	margin-left: 30px;
	margin-right: -40px;
}




/*---------------------------------Result---------------------------------*/


.result {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.result_find_line {
	display: flex;
}

.result_find {
	width: 163px;
	margin: 29px 46px 31px 73px;
}

.result_sort {
	margin: 31px 40px 37px 0;
}

.result_sort_item  {
	margin: 0;
	margin: 31px 32px 36px 32px;
}

.leaf li {
	margin: 31px auto 36px;
}

.result_sort_list {
	width: 800px;
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-dark);
	list-style: none;
}

.result_sort_list, .leaf {
	display: flex;
	margin: 0;
	padding: 0;
	text-align: center;
}

.choice_list {
	padding-left: 0;
}

.choice_item {		
	display: flex;	
	min-height: 151px;
}

.choice_item_foto {
	width: 237px;
	padding: 30px 29px 30px 73px;
}

.choice_item_location {
	width: 708px;
}

.star_rating {
	width: 165px;
}

.star, .rating {
	text-align: right;
}

.result .result_find {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-dark);
}

.result_sort_item a {	
	text-decoration: underline;
	color: var(--basic-dark);
	opacity: 0.3;
}

.result_sort_item a:hover {
	text-decoration: underline;
	color: var(--basic-blue);
	opacity: 1;
}

}
.result_sort_item a:active {
	text-decoration: none;
	color: var(--basic-dark);
	opacity: 1;
}

.result_sort_item a:visited {
	text-decoration: none;
	color: var(--basic-blue);
}

.leaf, .choice_list {	/* Пока оставляю так, в дальнейшем сделать белую часть иконки изменяющей цвет*/
	list-style: none;
}

.choice_of_location a {
	text-decoration: none;
	color: var(--basic-dark);
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.choice_of_location a:hover {
	color: var(--basic-blue);
}

.choice_of_location a:active {
	color: var(--basic-dark);
	opacity: 0.3;
}

.more_details {
	width: 110px;
	height: 27px;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	padding: 7px 20px;
	background-color: var(--basic-blue);
	text-decoration: none;
	color: var(--basic-white);
}

.more_details:hover {
	background-color: var(--basic-middle-blue);
}

.more_details:active {
	background-color: var(--basic-hard-blue);
	color: rgba(0,0,0,0.1);
}

.reservation {
	width: 142px;
	height: 27px;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	padding: 7px 20px;
	background-color: var(--basic-brown);
	text-decoration: none;
	color: var(--basic-white);
}

.reservation:hover {
	background-color: var(--basic-medium-brown);
}

.reservation:active {
	background-color: var(--basic-hard-brown); 
	color: rgba(0,0,0,0.1);
}

.rating {
	display: inline;
	width: 90px;
	height: 22px;
	font-size: 14px;
	line-height: 21px;
	padding: 5px 13px;
	text-align: center;
	vertical-align: top;
	background-color: var(--basic-extra-light-grey);
	color: var(--basic-light-dark);
}
