:root {
	--basic-white: #FFFFFF;
	--basic-blue: #81B3D2;
	--basic-middle-blue:#669EC0;
	--basic-hard-blue:#5496BD;
	--basic-brown: #766357;
	--basic-light-brown: #EEEEEE;
	--basic-medium-brown:#604E43;
	--basic-hard-brown:#503E33;
	--basic-light-dark:#666666;
	--basic-dark: #000000;
	--basic-extra-dark:#333333;
	--basic-grey: #ABABAB;
	--basic-light-grey: #CACACA;
	--basic-extra-grey: #E5E5E5;
	--basic-extra-light-grey: #F2F2F2;
	--basic-grey-medium:#EBEBEB;
	--basic-asfalt:#A9A9A9;
}

.page_body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-seirf;
	font-size: 14px;
	line-height: 21px;
	font-style: normal;
	font-weight: normal;
	color: var(--basic-extra-grey);
	text-transform: uppercase;
	background-color: var(--basic-white);	
}


/*---------------------------------header---------------------------------*/


a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.main_navigation {
	line-height: 26px;
	background-color: var(--basic-white);
}

.site_navigation {
	list-style: none;
}

.site_navigation a {
	color: var(--basic-dark);
}
.site_navigation a:hover {
	color: var(--basic-blue);
}

.site_navigation a:active {
	color: var(--basic-dark);
}

.site_navigation a:visited {
	color: var(--basic-brown);
}


/*---------------------------------main_caontainer---------------------------------*/


.container_logo {
	text-align: center;
	background-image: url("../img/background_photo@2x.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.container_logo h2 {
	color: var(--basic-dark);
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.container p {
	color: var(--basic-dark);
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}

/*---------------------------------advantages---------------------------------*/


.advantages_list, .footer_lists {
	list-style: none;
}

.real_town, .devil {
	background-color: var(--basic-blue);
	text-align: center;
	color: var(--basic-white);
	font-weight: normal;
}

.real_town p {
	color: var(--basic-white);
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}

.advantages_items h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	color: var(--basic-dark);
}

.advantages_items p {
	color: var(--basic-dark);
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}

 .advantages_items .back_space {
	background-color:  var(--basic-light-brown);
}

/*---------------------------------hotel search---------------------------------*/


.hotel_search {
	line-height: 24px;
	text-align: center;
	color: var(--basic-extra-dark);
}

.hotel_search h2 {
	font-size: 30px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	color: var(--basic-dark);
}

.button_hotel_search {
	width: 568px;
	height: 86px;
	background-color: var(--basic-brown);
	line-height: 26px;
	font-size: 21px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color:  var(--basic-white);
}

.button_hotel_search:hover {
	background-color: var(--basic-medium-brown);
}

.button_hotel_search:active {
	background-color: var(--basic-hard-brown);
}

.date_form {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-dark);
}

.arrival, .departure, .button_how_much, .how_much_people {
	background-color: var(--basic-extra-light-grey);
	border: none;
	text-transform: uppercase;
	font-weight: bold;
}

.arrival:hover, .departure:hover {
	background-color: var(--basic-grey-medium);
}

.arrival:focus, .departure:focus {
	background-color: var(--basic-white);
}

.button_how_much, .calendar {		
/*Пока оставляю так, в дальнейшем сделать белую часть иконки изменяющей цвет*/

}

.button_find {
	width: 458px;
	height: 58px;
	background-color: var(--basic-blue);
	color:  var(--basic-white);
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
}

.button_find:hover {
	background-color:var(--basic-middle-blue);
}

.button_find:active {
	background-color: var(--basic-hard-blue);
}


/*---------------------------------footer---------------------------------*/


.main_footer a{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: var(--basic-dark);	
}

.footer_copiright p {
	line-height: 26px;
}

.social_button {
	display: block;
	width: 46px;
	height: 48px;
	background-color: var(--basic-blue);
	position: relative;
	text-align: center;	
}

.youtube_logo, .twitter_logo, .facebook_logo {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.social_button:hover { 
	background-color: var(--basic-middle-blue);
	
}

.social_button .twitter_logo:active {
	background-color: var(--basic-hard-blue); /*Пока оставляю так, в дальнейшем сделать белую часть иконки изменяющей цвет*/
}

.html_logo {
	background-image:url("../img/logo_htmlacademy.svg"); 
	width: 115px;
	height: 33px;
}

.html_logo:hover {
	background-image:url("../img/logo_htmlacademy2.svg"); 
	width: 115px;
	height: 33px;
}

.html_logo:active {
	background-image:url("../img/logo_htmlacademy3.svg"); 
	width: 115px;
	height: 33px;
}

/*---------------------------------Catalog---------------------------------*/

.selection_of_conditions {
	background-image: url("../img/background_photo@2x.jpg");
	background-position: right 50% bottom 50%;
	background-repeat: no-repeat;
	color: var(--basic-white);
}

.caption {
	font-size: 16px;
}

.infrastructure_items, .type_of_housing_items {
	list-style: none;
}

.button_show {
	color: var(--basic-white);
	border: 2px solid var(--basic-white);
	width: 137px;
	height: 36px;
	background-color: transparent;
	text-transform: uppercase;
	border-radius: 2px;
}

.cost {
	border: 2px solid var(--basic-white);
	border-radius: 2px;
}

.cost input {
	background-color: transparent;
	text-transform: uppercase;
	color: var(--basic-white);
}

/*---------------------------------Result---------------------------------*/


.result {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.result .result_find {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-dark);
}

.result_sort, .result_sort_list {
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-dark);
	list-style: none;
}

.result_sort_item a {
	text-decoration: underline;
	color: var(--basic-dark);
	opacity: 0.3;
	list-style: 
}

.result_sort_item a:hover {
	text-decoration: underline;
	color: var(--basic-blue);
	opacity: 1;
}

}
.result_sort_item a:active {
	text-decoration: none;
	color: var(--basic-dark);
	opacity: 1;
}

.result_sort_item a:visited {
	text-decoration: none;
	color: var(--basic-blue);
}

.leaf, .choice_list {	 /*Пока оставляю так, в дальнейшем сделать белую часть иконки изменяющей цвет*/
	list-style: none;
}

.choice_of_location a {
	text-decoration: none;
	color: var(--basic-dark);
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.choice_of_location a:hover {
	color: var(--basic-blue);
}

.choice_of_location a:active {
	color: var(--basic-dark);
	opacity: 0.3;
}

.more_details {
	width: 110px;
	height: 27px;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	padding: 7px 20px;
	background-color: var(--basic-blue);
	text-decoration: none;
	color: var(--basic-white);
}

.more_details:hover {
	background-color: var(--basic-middle-blue);
}

.more_details:active {
	background-color: var(--basic-hard-blue);
	color: rgba(0,0,0,0.1);
}


.reservation {
	width: 142px;
	height: 27px;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	padding: 7px 20px;
	background-color: var(--basic-brown);
	text-decoration: none;
	color: var(--basic-white);
}

.reservation:hover {
	background-color: var(--basic-medium-brown);
}

.reservation:active {
	background-color: var(--basic-hard-brown); 
	color: rgba(0,0,0,0.1);
}

.rating {
	display: inline;
	width: 90px;
	height: 22px;
	font-size: 14px;
	line-height: 21px;
	padding: 5px 13px;
	text-align: center;
	vertical-align: top;
	background-color: var(--basic-extra-light-grey);
	color: var(--basic-light-dark);
}
